h1 {
    font-size: 2.5rem;
}

.cards-item-pics {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 8px;
  max-width: 100%;
}

.container-profile {
  padding: 20px;
  background-color: #efeae5;
  display: block;
  position: sticky;
}

.profile-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #efeae5;
}


.profile-title >h1 {
  font-family: 'Splash', cursive;
  font-size: 80px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.profile-content {
  width: 600px;
  text-align: justify;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}

.profile-content h2 {
  margin-bottom: 23px;
 font-family:  'Calistoga', cursive;
}
.profile-content p {
  font-weight: 400;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 60px;
  margin: revert;
}

.image-profile-home {
  width: 438px;
  height: 423px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin-top: 82px;
  margin-bottom: 70px;
  margin-left: 100px;
}

.image-transition {
  height: 600px;
  width: 1174px;
  margin-top: 90px;
}

.transition-profile {
  background: #efeae5;
  margin-bottom: 200px;
  margin-top: 100px;
}

.social-media-footer {
  display: inline;
}

.social-logo {
  align-items: center;
  vertical-align: middle;
  width: 38px !important;
  height: 38px !important;
  object-fit: cover;
  background-color: #91AFA9;
  border-radius: 50%;
  margin: 10px;
}

.social-logo-pint {
  width: 38px;
  height: 40px;
}


.img .social-logo img:hover {
  opacity: 3;

}

.social-logo > img, svg {
  align-items: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  object-fit: none;
}

.contact {
 vertical-align: middle;
 width: 100%;
 justify-content: space-evenly;
}
.style-social {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.btn-primary{
  background-color: #E0B46F !important;
  margin:20px;
  padding: 10px !important;
  border-color: #E0B46F !important;
  font-size: 18px !important;
}

.btn-primary:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) and (max-width: 1286px){

}
@media (min-device-width: 480px) and (max-width: 1024px){


  .profile-content {
    width: 620px;
    text-align: justify;
    margin-left: 0px;
    margin-right: 70px;
    margin-left: 20px;
}


  .profile-title >h1 {
     font-size: 50px;
      margin-right: 40px;
  }

  .image-profile-home {
      width: 300px;
      height: auto;
      margin-right: 0px;
      margin-left: 0px;
  }
  .transition-profile {
    margin-bottom: 0px;
  }

  .image-transition {
    height: 226px;
    width: 346px;
    margin-top: 40px;
    object-fit: fill;
    margin-bottom: 100px;
}
}

@media (max-device-width: 480px){
  .profile-content {
    margin: 20px;
    width: 560px;
  }

  .profile-grid {
    display: block;
  }
  .navbar-light .navbar-toggler {
    margin-top: 0px;
  }

  .image-profile-home {
    display: flex;
    margin-left: 80px;
  }
  .transition-profile {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .image-transition {
    height: 485px;
    width: 600px;
    margin-top: 90px;
    margin-bottom: 90px;
}

}
